@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {
        --fonte1: Verdana, Geneva, Tahoma, sans-serif;
        --fonte2: "Passion One", sans-serif;
        --fonte3: "Dancing Script", cursive;
}


* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    background-color: darkgray;

    font-family: var(--fonte1);

    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte2);
}

header h1 {
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;

    padding-top: 50px;
}

header p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte3);
    font-size: 3vw;

    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;

    color: black;
}

section.imagem {
    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.479);
    background-size: cover;
    background-attachment: fixed; /* Faz o efeito paralaxe*/
}

section.imagem p {
    background-color: rgba(0, 0, 0, 0.753);

    text-shadow: 2px 3px 0px black;

    display: inline-block;
    padding: 5px;

    border-radius: 5px;

}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
}










footer {
    background-color: black;

    text-align: center;
    color: white;
    padding: 10px;

}
